* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 800px;
	margin: 20px auto;
}

.content {
	border: 1px solid black;
}

.slideshow-header {
	text-align: center;
}

.slideshow {
	position: relative;
}

.slideshow img {
	width: 100%;
}

.slideshow-footer {
	text-align: center;
}

.arrow {
	position: absolute;
	color: white;
	font-weight: 900;
	font-size: 48px;
	top: 50%;
	transform: translate(0%, -50%);
}

.arrow:hover {
	cursor: pointer;
}

.right-arrow {
	right: 0;
}


.video,
.audio {
	padding-top: 20px;
	text-align: center;
}

.video button,
.audio button {
	/* width: 120px; */
	background-color: green;

	color: white;
	text-transform: uppercase;
	padding: 1em 2em;

	border: 1px solid black;
	border-radius: 1em;
}
